<div class="flex items-center gap-x-0.5 sm:gap-x-1 text-white font-bold text-xs sm:text-lg">
  <!-- Dias -->
  <div class="flex items-center gap-0.5 sm:gap-1.5">
    <span
      class="countdown-box bg-gray-800 px-2 sm:px-4 py-1 sm:py-2 rounded-sm shadow-md text-xs sm:text-base min-w-[35px] sm:min-w-[50px] text-center"
    >
      {{ days }}
      <span class="ml-0.5 sm:ml-2 text-[10px] sm:text-sm block">DIAS</span>
    </span>
  </div>

  <!-- Horas -->
  <div class="flex items-center gap-0.5 sm:gap-1.5">
    <span
      class="countdown-box bg-gray-800 px-2 sm:px-4 py-1 sm:py-2 rounded-sm shadow-md text-xs sm:text-base min-w-[35px] sm:min-w-[50px] text-center"
    >
      {{ hours }}
    </span>
    <span class="countdown-separator text-xs sm:text-lg">:</span>
  </div>

  <!-- Minutos -->
  <div class="flex items-center gap-0.5 sm:gap-1.5">
    <span
      class="countdown-box bg-gray-800 px-2 sm:px-4 py-1 sm:py-2 rounded-sm shadow-md text-xs sm:text-base min-w-[35px] sm:min-w-[50px] text-center"
    >
      {{ minutes }}
    </span>
    <span class="countdown-separator text-xs sm:text-lg">:</span>
  </div>

  <!-- Segundos -->
  <div class="flex items-center gap-0.5 sm:gap-1.5">
    <span
      class="countdown-box bg-gray-800 px-2 sm:px-4 py-1 sm:py-2 rounded-sm shadow-md text-xs sm:text-base min-w-[35px] sm:min-w-[50px] text-center"
    >
      {{ seconds }}
    </span>
  </div>
</div>
