<div
  class="min-h-[62px] flex justify-center items-center border-b border-[#E9EEFF] flex-wrap lg:flex-nowrap pb-[12px] my-[15px]"
>
  <div class="flex items-center flex-1 gap-[8px] order-1 mb-[8px]">
    <img class="w-[16px] h-[22px]" src="assets/icons/selo.svg" alt="" />
    <h2 class="text-blue-dark text-[16px] font-bold max-w-[110px]">4º lugar</h2>
  </div>
  <div class="flex-2 max-h-[50px] min-w-[250px] flex flex-col items-start order-3 sm:order-2">
    <h2 class="text-light-purple font-bold text-[20px] leading-[20px]">Bruno Rafael S*******</h2>
    <p class="text-light-purple text-[12px] font-normal leading-[15px]">
      Moto honda 2025 0km com capacete 345 Cilindradas
    </p>
  </div>
  <div class="flex-1 flex justify-end xl:justify-center order-2 sm:order-3">
    <app-tag-badge bgColor="#B2B7C7" color="#2E2170" text="32568 bilhetes" />
  </div>
</div>
