<main class="min-h-screen mt-[70px] sm:p-[0px] md:px-[30px] lg:px-[50px] xl:[200px]">
  <div>
    <div [(ngpTabsetValue)]="selectedTab" ngpTabset>
      <div ngpTabList>
        <button class="cursor-pointer" ngpTabButton ngpTabButtonValue="award">Prêmios | Guanhadores</button>
        <button class="cursor-pointer" ngpTabButton ngpTabButtonValue="title">Títulos</button>
        <button class="cursor-pointer" ngpTabButton ngpTabButtonValue="regulation">Regulamento</button>
      </div>

      <div ngpTabPanel ngpTabPanelValue="award">
        <app-prize-and-winners />
      </div>

      <div ngpTabPanel ngpTabPanelValue="title">
        <app-quota-sale />
      </div>

      <div ngpTabPanel ngpTabPanelValue="regulation">
        <app-regulation />
      </div>
    </div>
  </div>
</main>
