<div class="gap-2 mt-[70px] px-4 lg:px-[200px] mx-auto">
  <!-- Breadcrumb -->
  <nav class="text-gray-500 flex items-center space-x-2 text-xs sm:text-sm">
    <a href="/" class="hover:underline">Home</a>
    <span>/</span>
    <a href="/wallet" class="hover:underline font-semibold">Carteira</a>
  </nav>

  <!-- Título -->
  <div class="flex items-center mt-4">
    <img src="assets/icons/wallet.svg" alt="Carteira" class="w-5 h-5 sm:w-6 sm:h-6" />
    <span class="ml-3 text-base sm:text-lg font-semibold">Minha carteira</span>
  </div>

  <!-- Saldos -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-4 sm:gap-6 h-auto mb-6 mt-6 items-center">
    <!-- Cartão de Saldo (com clique para redirecionar) -->
    <a
      href="/wallet/total"
      class="p-4 bg-gray-light border border-[#A3AED0] rounded-2xl flex justify-between items-center cursor-pointer"
    >
      <div>
        <p class="text-gray-600 text-xs sm:text-sm">Saldo Total</p>
        <strong class="text-lg sm:text-xl text-light-purple sm:block">R$ 23.098.290,34</strong>
      </div>
      <img src="assets/icons/ArrowRight.svg" alt="Acessar" class="w-4 h-4 sm:w-5 sm:h-5" />
    </a>

    <a
      href="/wallet/comissoes"
      class="p-4 bg-gray-light border border-[#A3AED0] rounded-2xl flex justify-between items-center cursor-pointer"
    >
      <div>
        <p class="text-gray-600 text-xs sm:text-sm">Saldo de comissões</p>
        <strong class="text-lg sm:text-xl text-light-purple hidden sm:block">R$ 23.098.290,34</strong>
      </div>
      <img src="assets/icons/ArrowRight.svg" alt="Acessar" class="w-4 h-4 sm:w-5 sm:h-5" />
    </a>

    <a
      href="/wallet/bonus"
      class="p-4 bg-gray-light border border-[#A3AED0] rounded-2xl flex justify-between items-center cursor-pointer"
    >
      <div>
        <p class="text-gray-600 text-xs sm:text-sm">Saldo de bônus</p>
        <strong class="text-lg sm:text-xl text-light-purple hidden sm:block">R$ 23.098.290,34</strong>
      </div>
      <img src="assets/icons/ArrowRight.svg" alt="Acessar" class="w-4 h-4 sm:w-5 sm:h-5" />
    </a>

    <a
      href="/wallet/sacavel"
      class="bg-blue-dark text-white p-4 rounded-lg flex justify-between items-center cursor-pointer"
    >
      <div>
        <p class="text-xs sm:text-sm">Saldo sacável</p>
        <strong class="text-light-purple text-lg sm:text-xl hidden sm:block">R$ 23.098.290,34</strong>
      </div>
      <img src="assets/icons/ArrowRight.svg" alt="Acessar" class="w-4 h-4 sm:w-5 sm:h-5" />
    </a>

    <!-- Botões -->
    <app-button [context]="'wallet'" styleType="primary" class="w-full sm:w-auto">Depositar</app-button>
    <app-button [context]="'wallet'" styleType="secondary" class="w-full sm:w-auto">Sacar</app-button>
  </div>

  <!-- Componente Extrato -->
  <app-extract></app-extract>
</div>
