<header class="w-full top-0 left-0 h-[160px] bg-lightgray dark:bg-dark shadow-md z-50">
  <!-- Top Banner -->
  <app-top-banner></app-top-banner>

  <!-- Barra inferior -->
  <div class="w-full h-[120px] bg-purple-500 dark:bg-dark flex flex-wrap items-center justify-between px-4 md:px-8">
    <!-- Logo -->
    <img src="assets/logo_familhao.svg" alt="Logo" class="w-[126.5px] h-[44px] md:w-[184px] md:h-[64px]" />

    <!-- Barra de pesquisa -->
    <div class="hidden sm:flex ml-4 flex-grow max-w-[642px] md:max-w-[642px] relative">
      <!-- Input com ícone dentro -->
      <input
        type="text"
        placeholder="O que você está buscando"
        class="w-[642px] h-[56px] pl-10 pr-4 rounded-[12px] border border-gray-300 outline-none text-white dark:text-lightgray bg-[rgba(235,237,246,0.13)] gap-[10px] p-[16px]"
      />
      <!-- Ícone de pesquisa (posicionado dentro do input) -->
      <img
        src="assets/icons/MagnifyingGlass.svg"
        alt="Buscar"
        class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-white"
      />
    </div>

    <!-- Saldo e botões -->
    <div class="flex items-center gap-2 md:gap-4 text-white">
      <span class="hidden md:flex text-sm md:text-lg bg-white/20 dark:bg-dark/50 px-3 md:px-4 py-2 rounded-full">
        R$ <strong>23.345.544,49</strong>
        <!-- Ícone de olho -->
        <img src="assets/icons/olhos_fechados.svg" alt="Notificações" class="w-6 h-6" />
      </span>

      <button class="bg-[#12D1DE] text-[#2E2170] px-4 py-1 font-bold rounded text-sm transition">Depositar</button>

      <!-- Ícone de Notificação -->
      <button class="w-8 h-8 flex items-center justify-center">
        <img src="assets/icons/sino.svg" alt="Notificações" class="w-6 h-6" />
      </button>

      <!-- Ícone do WhatsApp -->
      <button class="w-8 h-8 flex items-center justify-center">
        <img src="assets/icons/whatsapp.svg" alt="WhatsApp" class="w-6 h-6" />
      </button>

      <!-- Ícone de Perfil -->
      <app-login>
        <img src="assets/icons/perfil.svg" alt="User" class="w-10 md:w-12 h-10 md:h-12 rounded-full" />
      </app-login>
    </div>
  </div>
</header>
