<div class="px-[200px]">
  <!-- Cabeçalho -->
  <div class="flex items-center justify-between gap-2">
    <div class="flex items-center gap-2">
      <img src="assets/icons/Trophy.svg" alt="Sorteios" class="w-5 h-5 sm:w-6 sm:h-6" />
      <strong class="text-sm sm:text-base">Ganhadores 🔥</strong>
    </div>

    <!-- Botão só no Desktop (alinhado à direita) -->
    <div class="hidden sm:block">
      <app-button class="w-full sm:w-auto" styleType="secondary">Ver todos os sorteios</app-button>
    </div>
  </div>

  <!-- Grid de Ganhadores -->
  <div class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-6 mt-3">
    <app-winners></app-winners>
    <app-winners></app-winners>
    <app-winners></app-winners>
    <app-winners></app-winners>
  </div>

  <!-- Botão só no Mobile -->
  <div class="block sm:hidden mt-6 text-center">
    <app-button class="w-full sm:w-auto" styleType="secondary">Ver todos os sorteios</app-button>
  </div>
</div>
