<header class="flex justify-between items-center flex-wrap w-full mb-10">
  <div class="flex justify-center items-center gap-2">
    <h1 class="text-[20px] font-medium pb-1 text-blue-dark">Cotas Premiadas</h1>
  </div>
  <div class="flex gap-2 overflow-x-scroll md:overflow-hidden scrollbar-thin pb-1">
    <app-btn-prize-draw
      styleBtn=" border  border-purple-500 text-purple-600 p-1 hover:bg-purple-600 hover:text-white"
      text="Todos (2)"
      styleContainer="flex justify-end"
    />
    <app-btn-prize-draw
      styleBtn=" border border-purple-500 text-purple-600 p-1 hover:bg-purple-600 hover:text-white"
      text="Premiados (2)"
      styleContainer="flex justify-end"
    />
    <app-btn-prize-draw
      styleBtn="border border-purple-500 text-purple-600 p-1 hover:bg-purple-600 hover:text-white"
      text="Disponíveis (20)"
      styleContainer="flex justify-end w-max"
    />
  </div>
</header>
