<div class="px-[200px]">
  <div class="flex items-center justify-between flex-wrap">
    <!-- Aplicando flexbox aqui -->
    <div class="flex items-center gap-2">
      <!-- Alinhando o ícone e o título -->
      <img src="assets/icons/alvo.svg" alt="Sorteios" />
      <strong>Sorteios 🔥</strong>
    </div>
    <div class="hidden sm:block">
      <app-button class="w-full sm:w-auto" styleType="secondary">Ver todos os sorteios</app-button>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-6">
    <!-- Adicionando margem superior para espaçamento -->
    <app-sweepstakes></app-sweepstakes>
    <app-sweepstakes></app-sweepstakes>
    <app-sweepstakes></app-sweepstakes>
    <app-sweepstakes></app-sweepstakes>
  </div>
  <!-- Botão só no Mobile -->
  <div class="block sm:hidden mt-6 text-center">
    <app-button class="w-full sm:w-auto" styleType="secondary">Ver todos os sorteios</app-button>
  </div>
</div>
