<div class="max-w-full mx-auto">
  <h2
    class="text-[28px] leading-[30px] font-bold tracking-tight text-blue-dark border-b-[2px] border-opacity-40 border-blue-dark pb-2"
  >
    Prêmios
  </h2>
  <app-awards
    [imageUrl]="'assets/image 48 (1).png'"
    [title]="'Nissan Kicks Active 0 km'"
    [subtitle]="'Prêmio Principal'"
    [position]="'1º'"
  />

  <h2
    class="text-[28px] leading-[30px] font-bold tracking-tight text-blue-dark border-b-[2px] border-opacity-40 border-blue-dark pb-2"
  >
    Rankings
  </h2>

  <h2
    class="text-[28px] leading-[30px] font-bold tracking-tight text-blue-dark border-b-[2px] border-opacity-40 border-blue-dark pb-2"
  >
    Outros Prêmios
  </h2>
</div>
