<section class="mt-[42px] mb-80">
  <div class="min-h-[148px] flex items-center justify-center xl:justify-between bg-white rounded-2xl flex-wrap">
    <div class="ml-[32px] min-w-[234px] mt-[24px] xl:mt-0">
      <img class="w-[234px]" src="/assets/logo_caroco.png" alt="" />
    </div>

    <div
      class="text-blue-dark text-[12px] flex gap-4 justify-center items-center mx-[20px] md:mx-[32px] mt-[16px] xl:mt-0 mb-[24px] xl:mb-0 flex-wrap"
    >
      <div class="w-[158px] lg:w-[220px] flex flex-col justify-center items-center h-[94px] min-w-[100px]">
        <span class="mb-[10px]">Sorteio realizado por:</span>
        <img src="/assets/federal.svg" alt="federal" />
      </div>
      <div class="w-[158px] lg:w-[220px] flex flex-col justify-center items-center h-[94px] min-w-[100px]">
        <span class="mb-[10px]">Títulos emitidos por:</span>
        <img src="/assets/via-cap.svg" alt="via-cap" />
      </div>
      <div class="w-[158px] lg:w-[220px] flex flex-col justify-center items-center h-[94px] min-w-[100px]">
        <span class="mb-[10px]">Entidade beneficiada:</span>
        <img src="/assets/famacia.svg" alt="famacia" />
      </div>
      <div class="w-[168px] lg:w-[220px] flex flex-col justify-center items-center h-[94px] min-w-[100px]">
        <span class="mb-[10px]">Sistema desenvolvido por:</span>
        <img src="/assets/symo.svg" alt="symo" />
      </div>
    </div>
  </div>

  <div class="mt-[37px] px-[32px] py-[24px] bg-white">
    <div>
      <h2 class="text-blue-dark font-bold text-[28px]">Regulamento</h2>
      <hr class="text-[#8C6BFA] mt-[16px]" />

      <p class="px-0 md:px-[48px] pt-[32px] max-h-[576px] overflow-y-scroll mt-[32px]">
        CONDIÇÕES DE PARTICIPAÇÃO SORTEIO DOS GÊMEOS NA KOVR v.27 1. INTRODUÇÃO: O SORTEIO DOS GÊMEOS NA KOVR v.27 é um
        Título de Capitalização de Pagamento Único, da Modalidade Filantropia Premiavel, emitido pela Kovr Capitalização
        S.A. – KOVR CAP (CNPJ n.º 93.202.448/0001-79, Endereço Av. Brigadeiro Faria Lima, n.º 3477, Torre B, 2º andar,
        Itaim Bibi, São Paulo/SP, CEP: 04538-133), aprovado pela Super intendência de Seguros Privados – SUSEP –através
        do Processo SUSEP 15414.661340.2024-01, comercializado nos termos da Lei Federal nº 14.332, de 4 de maio de 2022
        e da Circular SUSEP n.º 656/2022, conforme alterada pela Circular SUSEP n.º 676/2022. A contratação deste título
        é apropriada principalmente na hipótese de o consumidor estar interessado em contribuir com entidades
        beneficentes de assistência sociais, certificadas nos termos da legislação vigente, e participar de sorteio(s).
        Ao adquirir o Título o subscritor cede 100% do direito de resgate do seu Título à FEDERAÇÃO NACIONAL DAS
        ASSOCIAÇÕES PESTALOZZI FENAPESTALOZZI (CNPJ n.º 42.129.809/0001-68, STSRTVS, n.º 110, Quadra 701, Bloco O, Salas
        496, 497 e 708 a 711, Edifício Novo Centro Empresarial, Bairro Asa Sul, CEP 70.340-000). 2. COTAS: O capital
        mínimo para resgate, previsto para o final do prazo de vigência do título, equivale a 44,18% do pagamento
        efetuado. O valor de 41,90% da contribuição única do Título é destinado ao sorteio. 3. SORTEIOS: Ao preencher a
        ficha de cadastro na plataforma de vendas e realizar o pagamento da contribuição única o titular concorrerá aos
        sorteios das modalidades: a) Loteria Federal: Concorre em 1 sorteio apurado com base na extração da Loteria
        Federal do dia 18/01/2025. Para concorrer aos sorteios previstos nesta modalidade o Título contém impresso 1
        Número(s) da Sorte, não repetido(s) na mesma série, compreendido(s) no intervalo entre e “0.000.000” e
        “9.999.999”. b) Modalidade Instantânea: No momento da aquisição do título, o titular concorrerá à premiação
        instantânea e identificará se o título foi contemplado caso o seu número da sorte corresponda a um dos números
        divulgados no final deste regulamento. Serão distribuídos 28 prêmios no valor líquido de R$500,00 cada, 1 prêmio
        no valor líquido de R$646,46, 5 prêmios no valor líquido de R$10.000,00 cada e 10 prêmios no valor líquido de
        R$15.000,00 cada. 3.1: Forma de Apuração: A combinação contemplada será composta pela leitura a partir dos
        algarismos do primeiro prêmio da extração da Loteria Federal, adicionando-se ao seu final o primeiro e segundo
        algarismo do segundo prêmio da Loteria Federal, nesta ordem. 3.2. Probabilidades: O tamanho da série deste plano
        de capitalização é de 10.000.000 unidades, onde a probabilidade mínima de contemplação é de 1/10.000.000. A
        numeração dos Títulos é apenas para controle de distribuição e não possui relação com o tamanho das séries.
        3.2.1 Regra de Aproximação: Caso a combinação contemplada, apurada na forma do item 3.1., não tenha sido
        distribuída a um participante, será aplicada a seguinte regra de aproximação: será contemplado o participante
        que possuir o próximo número da sorte imediatamente posterior ao efetivamente apurado, na forma acima, e assim
        sucessivamente até que seja identificado um participante contemplado. 3.3. Local do Sorteio: O sorteio será
        realizado pela extração da Loteria Federal do dia 18/01/2025. Caso, por qualquer motivo, a Loteria Federal não
        venha a realizar a extração na data prevista de sorteio, será considerada, para fins do disposto neste Capítulo,
        a extração seguinte que vier a ser por ela realizada. Caso a Caixa Econômica Federal suspenda definitivamente as
        extrações da Loteria Federal, ou modifique as referidas extrações de forma que não mais coincidam com as regras
        estabelecidas neste sorteio, ou haja qualquer impedimento à vinculação da Loteria Federal aos sorteios
        previstos, a Kovr Capitalização S.A., num prazo máximo de 30 (trinta) dias, promoverá o sorteio não realizado
        com aparelhos próprios e em local de livre acesso ao público, sob fiscalização de auditoria independente e nas
        mesmas condições previstas nos itens anteriores, dando prévia e ampla divulgação do fato. O(s) título(s)
        sorteado(s) na(s) premiação(ões) previstas neste produto serão resgatados antecipadamente quando da realização
        do respectivo sorteio e não concorrerão aos próximos sorteios. O resultado dos sorteios e a identificação dos
        contemplados serão amplamente divulgados em https://www.gemeosbrasil.me/. 3.4. Pagamento da Premiação: Para o
        recebimento do prêmio, o adquirente do Título sorteado deverá entregar: cópia simples do seu RG; do CPF e de
        comprovante de residência emitido a menos de 90 (noventa) dias. O pagamento será realizado em até 15 (quinze)
        dias corridos, contados da apresentação da documentação exigida. 4. CARREGAMENTO: A quota de carregamento,
        destinada a custear as despesas administrativas e de comercialização assim como as despesas com contemplação
        obrigatória, equivale a 14,00% a contribuição única. Para maiores informações
        acesse https://www.gemeosbrasil.me/. 5. VIGÊNCIA: A vigência do Título é de 2 meses. 6. RESGATE: O valor do
        resgate somente estará disponível ao Titular após o término da vigência. 7. DISPOSIÇÕES FINAIS: A aquisição do
        título está condicionada ao pagamento da contribuição única e preenchimento completo da ficha de cadastro. Antes
        de contratar, consulte previamente as Condições Gerais do Título, cuja versão completa está disponível para
        consulta no site https://www.gemeosbrasil.me/ e/ou através do site www.susep.gov.br, de acordo com o número de
        processo constante no anverso deste Título. A contratação implica automática adesão às Condições Gerais do
        Título de Capitalização. É proibida a venda de título de capitalização a menores de dezesseis anos. A aprovação
        deste plano pela SUSEP, não implica, por parte da Autarquia, em incentivo ou recomendação à sua aquisição,
        representando, exclusivamente, sua adequação às normas em vigor. O valor de resgate deste título será revertido
        para a entidade beneficente de assistência social indicada na ficha de cadastro, caso não haja comunicação do
        subscritor à sociedade de capitalização, sobre a desistência da cessão, até o dia anterior à realização do
        primeiro sorteio previsto no título de capitalização. Os prazos prescricionais decorrentes deste Título,
        incluindo, resgate e sorteio, cessam, automaticamente e de pleno direito, nos prazos estabelecidos na legislação
        em vigor, perdendo o titular o respectivo direito. A KOVRCAP se compromete a tratar os dados pessoais acessados
        em razão da contratação deste título de capitalização, nos termos da Lei Geral de Proteção de Dados (Lei nº
        13.709/2018) e ao disposto na Política de Privacidade e Proteção de Dados Pessoais disponível no site
        (www.kovr.com.br/). Processo SUSEP nº 15414.661340.2024-01. PREMIAÇÃO: EDIÇÃO 295 - KIT MUDANÇA DE VIDA CONFORME
        DETALHADO NAS CONDIÇÕES DE PARTICIPAÇÃO. SUGESTÃO DE USO DO PRÊMIO LÍQUIDO TOTAL DE R$ 555.555,56 TÍTULOS
        PREMIADOS: 28 TITULOS DE R$ 500,00
        (4086116-4232740-5514743-6972281-3218362-8521869-1480334-3533246-9104712-3588521-5358201-0970317-4821988-7725254-2883817-2993208-8356588-0194302-4188344-9854159-2940693-2876929-6111123-0905304-4639576-1942692-5439262-5184127)
        1 TÍTULO de R$ 646,46  (8709334) 5 TITULOS DE R$ 10.000,00 (8498265-9184163-5396374-0560017-3931865) 10 TITULOS
        DE 15.000,00 (0382484-1651274-8335079-7003893-6159792-6337801-2545920-7245398-9389733-2151736)
      </p>
    </div>
  </div>
</section>
