<div class="h-110 md:h-70 bg-white shadow-lg rounded-xl p-4 w-full flex flex-col sm:flex-row gap-4 relative">
  <!-- Imagem -->
  <div class="sm:w-2/3 md:w-1/3 rounded-lg overflow-hidden">
    <img src="assets/icons/sorteio.png" alt="Sorteio" class="w-full h-full object-cover" />
  </div>

  <!-- Conteúdo -->
  <div class="w-full sm:w-2/3 flex flex-col justify-between">
    <!-- Título e Data -->
    <div>
      <h2 class="text-lg font-bold text-purple-700">Pix do Milhão e mais de milhão</h2>
      <div class="flex items-center gap-2 mt-1 flex-wrap">
        <span class="bg-purple-600 text-white px-3 py-1 text-xs rounded-md">EDIÇÃO 01</span>
        <span class="text-gray-500 text-sm">12/12/2024 - 19:30</span>
      </div>
    </div>
    <!-- conteúdo card aqui  -->

    <app-selected-quotas></app-selected-quotas>
  </div>

  <!-- Em Breve Badge -->
  <div class="h-15 absolute -top-3 md:right-3 ms:left-3 bg-[#0EAD83] text-white text-xs px-4 py-5 rounded-b-full">
    <span> EM ABERTO</span>
  </div>
</div>
