<div class="h-110 md:h-70 bg-white shadow-lg rounded-xl p-4 w-full flex flex-col sm:flex-row gap-4 relative">
  <!-- Imagem -->
  <div class="relative flex flex-col rounded-lg overflow-hidden">
    <!-- Imagem do sorteio -->
    <img src="assets/icons/sorteio.png" alt="Sorteio" class="w-full h-full object-cover" />

    <!-- Badge de participação -->
    <div class="absolute top-2 left-2 bg-purple-700 text-white text-sm px-3 py-1 rounded-full">
      Você já está participando
    </div>

    <!-- Contador posicionado na parte inferior -->
    <div class="absolute bottom-4 w-full flex justify-start px-1">
      <app-count-down />
    </div>
  </div>

  <!-- Conteúdo -->
  <div class="w-full sm:w-2/3 flex flex-col justify-between">
    <!-- Título e Data -->
    <div>
      <h2 class="text-lg font-bold text-purple-700">Pix do Milhão e mais de milhão</h2>
      <div class="flex items-center gap-2 mt-1 flex-wrap">
        <span class="bg-purple-600 text-white px-3 py-1 text-xs rounded-md">EDIÇÃO 01</span>
        <span class="text-gray-500 text-sm">12/12/2024 - 19:30</span>
      </div>
    </div>
    <!-- conteúdo card aqui  -->
    <ng-container *ngTemplateOutlet="currentTemplate"> </ng-container>
  </div>

  <div class="h-15 absolute -top-3 md:right-3 ms:left-3 bg-[#0EAD83] text-white text-xs px-4 py-5 rounded-b-full">
    <span> EM ABERTO</span>
  </div>
</div>

<ng-template #open>
  <app-selected-quotas></app-selected-quotas>
</ng-template>

<ng-template #participating>
  <app-purchased-shares />
</ng-template>

<ng-template #completed>
  <app-start-quotas />
</ng-template>

<ng-template #comingSoon>
  <app-winners />
</ng-template>
