<!-- Contêiner Principal -->
<div
  class="mx-auto shadow-2xs bg-white rounded-3xl p-6 sm:p-6 flex flex-col md:flex-row gap-4 sm:gap-6 mt-[-20vh] mb-8"
  style="max-width: 90%"
>
  <app-progress class="flex items-stretch"></app-progress>
  <div class="flex-1 flex flex-col mt-2">
    <h2 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#8C6BFA]">
      {{ title }}
    </h2>
    <div class="flex flex-wrap gap-2">
      <span class="bg-[#2E2170] px-2 sm:px-3 py-1 rounded text-white text-xs sm:text-sm font-bold">
        {{ edition }}
      </span>
      <span class="bg-[#C4CCE4] px-2 sm:px-3 py-1 rounded text-xs sm:text-sm text-[#2E2170] font-bold">
        {{ date }}
      </span>
      <span class="bg-[#12D1DE] text-[#2E2170] px-2 sm:px-3 py-1 rounded text-xs sm:text-sm font-bold">
        Cota {{ price }}
      </span>
    </div>
    <app-quota-selection class="mt-4" [context]="'hero'"></app-quota-selection>
  </div>
  <!-- QUERO MODIFICAR AQUI -->
  <div class="flex flex-col mt-5">
    <app-button styleType="primary" context="hero">Comprar agora</app-button>
    <app-button class="mt-2" styleType="secondary" context="hero">Adicionar ao carrinho</app-button>
  </div>
</div>
