<div class="mt-16 lg:px-48 px-4">
  <app-breadcrumb
    [breadcrumbs]="[
      { label: 'Home', url: '/' },
      { label: 'Ganhadores', url: '/winners' },
      { label: 'Nº 99439593922332', url: '/winners/99439593922332' },
    ]"
  ></app-breadcrumb>
  <!-- ESTES ITEMS -->
  <div class="flex flex-col justify-between sm:flex-row">
    <div class="flex flex-row items-center">
      <img src="assets/icons/Trophy.svg" alt="Trophy" />
      <span class="font-semibold ml-2">Ganhadores</span>
    </div>
    <div class="max-w-[371px] sm:flex mt-2 flex-grow relative">
      <input
        type="text"
        placeholder="Busque por nome, sorteio ou prêmio"
        class="w-full h-10 md:h-12 px-4 pl-12 rounded-xl border border-gray-300 outline-none text-black dark:text-lightgray"
      />

      <img
        src="assets/icons/MagnifyingGlass.svg"
        alt="Pesquisar"
        class="absolute left-4 top-1/2 transform -translate-y-1/2 w-6 h-6"
      />
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 sm:gap-6 mt-3">
    <app-winners></app-winners>
    <app-winners></app-winners>
    <app-winners></app-winners>
    <app-winners></app-winners>
    <app-winners></app-winners>
    <app-winners></app-winners>
    <app-winners></app-winners>
    <app-winners></app-winners>
    <app-winners></app-winners>
    <app-winners></app-winners>
    <app-winners></app-winners>
    <app-winners></app-winners>
  </div>
</div>
