<div
  class="w-full h-[48px] bg-[#B2B7C7] flex items-center justify-between border border-black px-4 sm:px-10 md:px-20 lg:px-40 text-black font-bold text-xs md:text-sm"
>
  <div class="w-full max-w-[1520px] flex items-center justify-between">
    <button class="text-lg">
      <img src="assets/icons/CaretLeft.svg" alt="Voltar" class="w-5 h-5 sm:w-6 sm:h-6" />
    </button>

    <div class="flex items-center justify-center flex-1 gap-4">
      <div class="text-center">
        <p class="text-[#2E2170] text-xs sm:text-sm truncate">PIX DO MILHÃO!</p>
        <p class="hidden lg:block text-[#2E2170] text-xs">COTAS DISPONÍVEIS ATÉ AS 19:00 DO DIA 12/12/2024</p>
      </div>

      <button class="bg-[#12D1DE] text-[#2E2170] px-3 sm:px-4 py-1 rounded text-xs sm:text-sm transition">
        Comprar
      </button>
    </div>

    <button class="text-lg">
      <img src="assets/icons/CaretRight.svg" alt="Avançar" class="w-5 h-5 sm:w-6 sm:h-6" />
    </button>
  </div>
</div>
