<!-- Barra superior -->
<div
  class="w-[1920px] h-[48px] bg-gray-400 dark:bg-dark flex items-center justify-between border border-black px-[200px] py-[8px] text-black dark:text-lightgray font-bold text-xs md:text-sm"
>
  <!-- Container interno -->
  <div class="w-[1520px] h-[32px] flex items-center justify-between">
    <!-- Botões de navegação -->
    <div class="flex gap-2">
      <button class="text-lg">
        <img src="assets/icons/CaretLeft.svg" alt="Voltar" class="w-6 h-6" />
      </button>
      <button class="text-lg">
        <img src="assets/icons/CaretRight.svg" alt="Avançar" class="w-6 h-6" />
      </button>
      <button class="text-lg">
        <img src="assets/icons/Play.svg" alt="Reproduzir" class="w-6 h-6" />
      </button>
    </div>

    <!-- Texto do aviso -->
    <p class="hidden sm:block text-center text-primary dark:text-lightgray">
      PIX DO MILHÃO! COTAS DISPONÍVEIS ATÉ AS 19:00 DO DIA 12/12/2024
    </p>

    <!-- Botão de compra -->
    <button
      class="bg-light-terciaria dark:bg-dark-terciaria hover:bg-[#0FB5C0] dark:hover:bg-[#0EAAB4] text-white px-4 py-1 rounded text-sm transition"
    >
      Comprar
    </button>
  </div>
</div>
