<!-- Barra superior -->
<div
  class="w-full max-w-full h-[48px] bg-gray-400 dark:bg-dark flex items-center justify-between border border-black px-4 md:px-8 lg:px-16 text-black dark:text-lightgray font-bold text-xs md:text-sm"
>
  <!-- Container interno -->
  <div class="w-full max-w-[1520px] h-[32px] flex items-center justify-between mx-auto">
    <!-- Botões de navegação -->
    <div class="flex gap-2">
      <button class="text-lg">
        <img src="assets/icons/CaretLeft.svg" alt="Voltar" class="w-6 h-6" />
      </button>
      <button class="text-lg">
        <img src="assets/icons/CaretRight.svg" alt="Avançar" class="w-6 h-6" />
      </button>
      <button class="text-lg">
        <img src="assets/icons/Play.svg" alt="Reproduzir" class="w-6 h-6" />
      </button>
    </div>

    <!-- Texto do aviso -->
    <p class="text-center text-primary dark:text-lightgray text-xs sm:text-sm md:text-base w-full md:max-w-[400px]">
      PIX DO MILHÃO! COTAS DISPONÍVEIS ATÉ AS 19:00 DO DIA 12/12/2024
    </p>

    <!-- Botão de compra -->
    <app-button class="hidden sm:flex" styleType="tertiary">Comprar</app-button>
  </div>
</div>
