:host {
  display: flex;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
  height: max-content;
}

button:nth-child(4) img {
  padding-top: 12px; /* pt-1 */
}

@media screen and (max-width: 766px) {
  button:nth-child(4) img {
    padding-top: 0; /* pt-1 */
  }

  :host {
    border-top: red;
  }
}
