<!-- LOADING -->
<div *ngIf="isLoading" class="flex justify-center items-center py-10">
  <div class="animate-spin rounded-full h-10 w-10 border-4 border-purple-500 border-t-transparent"></div>
</div>

<!-- CONTEÚDO -->
<div *ngIf="!isLoading" class="flex flex-col mx-auto w-full sm:max-w-md md:max-w-2xl xl:max-w-3xl">
  <h2 class="text-xl font-semibold text-blue-dark mb-4 text-center sm:text-left">Minhas compras</h2>

  <div class="bg-white md:border md:border-light-purple md:rounded-xl md:shadow-md md:p-8">
    <div class="space-y-4">
      <div class="rounded-lg border border-gray-200" *ngFor="let compra of comprasRealizadasGeral">
        <!-- Cabeçalho -->
        <div
          class="p-3 border-gray-200 flex items-center justify-between cursor-pointer"
          (click)="compra.expanded = !compra.expanded"
        >
          <div class="p-2">
            <div class="flex items-center gap-2 mb-1">
              <p class="text-sm text-light-purple font-semibold">Compra #{{ compra.numeroCompra }}</p>
              <span class="bg-green-100 text-green-700 font-semibold px-2 py-0.5 rounded-md text-xs">PAGO</span>
            </div>
            <p class="text-xs text-gray-500">{{ compra.dataCompra }}</p>
            <p class="text-xs text-gray-500">
              {{ compra.cartelas.length }} CARTELA{{ compra.cartelas.length > 1 ? 'S' : '' }}
            </p>
          </div>
          <div class="flex items-center gap-2">
            <span class="text-xs text-gray-500 hidden md:flex">{{ compra.dataCompra }}</span>
            <button class="text-purple-500 text-4xl cursor-pointer">
              {{ compra.expanded ? '-' : '+' }}
            </button>
          </div>
        </div>

        <!-- EXPANSÃO -->
        <div *ngIf="compra.expanded" class="space-y-4 flex flex-col md:flex-row">
          <!-- LADO ESQUERDO: CARTELAS + IMAGEM -->
          <div class="w-full md:max-w-sm">
            <div class="mx-4 mb-2">
              <h6 class="text-lg font-bold text-[#2E2170]">Cartelas</h6>
              <p class="text-sm text-gray-600">{{ compra.nomeRifa }}</p>
            </div>

            <div class="relative">
              <img [src]="compra.imagemRifa" alt="Imagem da rifa" class="rounded-lg mx-auto w-full h-48 object-cover" />

              <!-- Badge status estilo "bandeira" -->
              <div
                class="absolute -top-3 -right-10 -translate-x-1/2 px-4 py-6 text-white text-xs font-bold rounded-b-full z-10 shadow-md"
                [ngClass]="{
                  'bg-green-500': compra.statusRifa === 'aberto',
                  'bg-gray-500': compra.statusRifa === 'finalizado',
                }"
              >
                {{ compra.statusRifa | uppercase }}
              </div>
            </div>

            <ng-container *ngFor="let cartela of compra.cartelas">
              <div class="border border-[#8C6BFA] p-2 rounded-xl m-2">
                <h4 class="text-sm font-semibold text-[#8C6BFA] mb-2">Cartela: {{ cartela.cartela }}</h4>
                <div class="grid grid-cols-5 gap-2 text-xs text-center">
                  <div *ngFor="let numero of cartela.numeros" class="border border-light-purple p-1 rounded-sm">
                    {{ numero }}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <!-- LADO DIREITO: DETALHES -->
          <div class="p-2 md:p-0 md:px-2 flex-1">
            <h6 class="text-lg font-bold mb-4 md:mb-8 text-[#2E2170]">Detalhes</h6>
            <dl class="text-xs text-blue-dark space-y-2">
              <h6 class="text-lg font-bold mb-3 text-[#2E2170]">Pagamento</h6>
              <div class="flex justify-between">
                Subtotal
                <dd>{{ compra.valorTotal | currency: 'BRL' : 'symbol' : '1.2-2' }}</dd>
              </div>

              <div class="border-t border-b py-3 my-3 border-gray-200 flex justify-between font-semibold text-gray-700">
                <span class="text-[#2E2170] font-bold">Total</span>
                <dd class="font-semibold text-[#8C6BFA]">
                  {{ compra.valorTotal | currency: 'BRL' : 'symbol' : '1.2-2' }}
                </dd>
              </div>

              <!-- <div class="flex flex-col w-full rounded-xl p-2 bg-[#E9EEFF85] border border-[#DFE6F6]">
                <dt>Forma de pagamento</dt>
                <div class="flex flex-row items-center pt-2 text-[#8C6BFA]">
                  <img src="assets/icons/pix.svg" class="h-4 w-4" alt="Pix" />
                  <dd class="font-semibold ml-2 text-sm">{{ compra.formaPagamento }}</dd>
                </div>
              </div> -->

              <!-- COMPRADOR -->
              <div class="mt-2 border-t border-gray-200 pt-2">
                <div class="flex flex-col justify-between">
                  <dt class="text-lg font-bold mb-3 text-[#2E2170]">Comprador</dt>
                </div>
                <div class="flex justify-between">
                  <dt>Nome:</dt>
                  <dd class="text-[#2E2170] font-semibold">{{ compra.comprador.nome }}</dd>
                </div>
                <div class="flex justify-between">
                  <dt>CPF:</dt>
                  <dd class="text-[#2E2170] font-semibold">{{ maskLast6Digits(compra.comprador.cpf) }}</dd>
                </div>
                <div class="flex justify-between">
                  <dt>Tel:</dt>
                  <dd class="text-[#2E2170] font-semibold">{{ maskLast6Digits(compra.comprador.telefone) }}</dd>
                </div>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
