<section class="flex flex-col">
  <div class="flex justify-center order-2 md:order-1 fixed bottom-0 w-full md:hidden bg-white">
    <!-- <app-navigation /> -->
  </div>

  <footer
    class="w-full border-t order-1 md:order-2 border-gray-300 dark:border-gray-700 bg-white dark:bg-dark px-4 py-8 sm:px-8 md:px-16 lg:px-32 flex flex-col gap-6"
  >
    <!-- Seção de Logo e Redes Sociais -->
    <div class="flex justify-center items-center flex-wrap gap-4">
      <!-- Logo -->
      <img src="assets/logo_caroco.png" alt="caroço" class="w-[120px] sm:w-[180px]" />

      <!-- Redes Sociais -->
      <!-- <div class="flex gap-4">
        <img src="assets/icons/instagram_icon.svg" alt="Instagram" class="w-8 h-8 sm:w-10 sm:h-10" />
        <img src="assets/icons/facebook_icon.svg" alt="Facebook" class="w-8 h-8 sm:w-10 sm:h-10" />
        <img src="assets/icons/tiktok_icon.svg" alt="TikTok" class="w-8 h-8 sm:w-10 sm:h-10" />
        <img src="assets/icons/twitter_icon.svg" alt="Twitter" class="w-8 h-8 sm:w-10 sm:h-10" />
        <img src="assets/icons/youtube_icon.svg" alt="YouTube" class="w-8 h-8 sm:w-10 sm:h-10" />
      </div> -->
    </div>

    <p class="text-sm sm:text-base">
      Caroço da Sorte é um produto de sorteios criado para espalhar sorte de forma acessível e divertida, com vendas
      tanto online quanto presenciais. Inspirado em nossas raízes, o Caroço da Sorte nasceu para alcançar todo o Brasil
      com prêmios imperdíveis e oportunidades que fazem a diferença.
    </p>

    <!-- <h1 class="text-[#8C6BFA] text-lg md:text-xl"><strong>Instituição Beneficiada</strong></h1>

    <div class="bg-[#F4F5FA] rounded-lg p-4 sm:p-6 flex items-center gap-4 flex-wrap">
      <img
        src="assets/hospital_cancer_londrina.svg"
        alt="Hospital do Câncer de Londrina"
        class="w-16 h-16 sm:w-20 sm:h-20"
      />
      <p class="text-gray-600 dark:text-[#A3AED0] text-sm sm:text-base">
        O Hospital do Câncer de Londrina foi idealizado pela ilustre Lucilla Pinto Ballalai e criado em 08 de novembro
        de 1965. A iniciativa foi desenvolvida em prol do tratamento do câncer e da valorização da qualidade de vida,
        com aprimoramento constante de recursos humanos, científicos e tecnológicos.
      </p>
    </div> -->

    <div class="flex flex-col md:flex-row justify-between items-center gap-4 text-sm text-gray-500 dark:text-gray-400">
      <!-- <nav class="flex justify-center gap-3 w-full">
        <a href="#" class="hover:text-primary">Sobre nós</a>
        <a href="#" class="hover:text-primary">Perguntas frequentes</a>
        <a href="#" class="hover:text-primary">Termos de uso</a>
        <a href="#" class="hover:text-primary">Políticas de privacidade</a>
      </nav> -->

      <!-- <div class="flex gap-3 items-center w-full">
        <div class="flex items-center gap-2">
          <span>Títulos emitidos por:</span>
          <img src="assets/via_cap.svg" alt="ViaCap" class="w-16 sm:w-20" />
        </div>
        <div class="flex items-center gap-2">
          <img src="assets/verificada_reclame_aqui.svg" alt="Reclame Aqui" class="w-20 sm:w-24" />
          <span>Verificada por ReclameAqui</span>
        </div>
      </div> -->
    </div>

    <div class="flex flex-col md:flex-row justify-center items-center mt-6">
      <!-- <div class="bg-gray-200 dark:bg-[#F4F5FA] rounded-lg p-4 flex items-center gap-4">
        <img src="assets/marca_footer.svg" alt="Symo" class="w-16 sm:w-20" />
        <div>
          <p class="text-sm text-[#2E2170] dark:text-[#2E2170]">Ouvidoria Symo</p>
          <p class="text-lg font-bold text-[#8C6BFA]">0800 303 3456</p>
        </div>
      </div> -->

      <p class="text-center text-sm text-[#2E2170] dark:text-[#2E2170] mt-4 md:mt-0 md:w-auto w-full">
        © Copyright 2025 – Caroço da Sorte | Todos os direitos reservados
      </p>

      <!-- <app-button class="mt-4 md:mt-0 mb-16 md:mb-0" styleType="secondary"> Quero criar um sorteio </app-button> -->
    </div>
  </footer>
</section>
