<div class="flex flex-col mx-auto w-full sm:max-w-md md:max-w-lg lg:max-w-2xl xl:max-w-3xl">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-xl font-semibold text-blue-dark text-center sm:text-left">Minha conta</h2>
    <button
      class="border border-[#8C6BFA] text-[#8C6BFA] rounded-xl p-2 font-medium cursor-pointer hover:bg-gray-100"
      ngpButton
      (click)="logout()"
    >
      Sair
    </button>
  </div>

  <div class="bg-white md:border md:border-light-purple md:rounded-xl md:shadow-md md:p-8">
    @if (isFetchingProfile()) {
      <div class="flex items-center justify-center">
        <app-spinner />
      </div>
    } @else {
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div formGroupName="personalInfo" class="mb-6">
          <h3 class="font-semibold text-[#2E2170] mb-3">Dados gerais</h3>

          <div class="md:flex">
            <!-- <div class="mb-8 md:flex md:items-center md:justify-center md:mr-6 md:mb-0">
              <div class="relative flex items-center justify-center">
                <div
                  class="w-30 h-30 border-solid border-4 border-gray-400 rounded-full bg-gray-100 relative flex items-center justify-center"
                >
                  @if (photoPreview()) {
                    <div class="h-29 w-29 rounded-full overflow-hidden">
                      <img
                        [src]="photoPreview()"
                        alt="Pré visualização da sua foto"
                        class="h-full w-full object-cover"
                      />
                    </div>
                  } @else {
                    <div class="w-full h-full flex items-center justify-center">
                      <ng-icon name="bootstrapPerson" class="!w-10 !h-10"></ng-icon>
                    </div>
                  }
                </div>

                <div class="absolute -bottom-4 left-0 right-0 flex items-center justify-center">
                  <div class="max-w-[120px] w-full">
                    <input
                      type="file"
                      id="photoUpload"
                      class="hidden"
                      accept="image/*"
                      (change)="onFileSelected($event)"
                    />
                    <label
                      for="photoUpload"
                      class="w-full bg-[#8C6BFA] text-white flex items-center justify-center rounded-xl cursor-pointer py-2 font-medium text-sm"
                    >
                      Escolher
                    </label>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- class="md:mt-3" -->
            <div>
              <div class="mb-4">
                <input
                  type="text"
                  formControlName="fullName"
                  placeholder="Nome completo"
                  class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] placeholder:text-sm"
                  ngpInput
                />
              </div>

              <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 md:mb-0">
                <div>
                  <input
                    type="text"
                    formControlName="cpf"
                    mask="000.000.000-00"
                    [dropSpecialCharacters]="false"
                    placeholder="CPF"
                    class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] placeholder:text-sm disabled:opacity-50 disabled:cursor-not-allowed"
                    ngpInput
                  />
                </div>
                <div class="relative">
                  <input
                    type="text"
                    formControlName="birthDate"
                    mask="00/00/0000"
                    placeholder="Data de nascimento"
                    class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] placeholder:text-sm"
                    ngpInput
                  />
                  <div class="absolute inset-y-0 right-0 flex items-center px-3 pointer-events-none">
                    <ng-icon name="bootstrapCalendar" class="!w-6 !h-6 z-2" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div formGroupName="contactInfo" class="mb-6">
          <h3 class="font-semibold text-[#2E2170] mb-3">Dados de contato</h3>

          <div class="mb-4">
            <input
              type="email"
              formControlName="email"
              placeholder="E-mail"
              class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] placeholder:text-sm disabled:opacity-50 disabled:cursor-not-allowed"
              ngpInput
            />
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div>
              <input
                type="text"
                formControlName="phone"
                mask="(00) 0 0000-0000"
                placeholder="Celular com DDD"
                class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] placeholder:text-sm disabled:opacity-50 disabled:cursor-not-allowed"
                ngpInput
              />
            </div>
            <div>
              <input
                type="text"
                formControlName="phoneConfirmation"
                mask="(00) 0 0000-0000"
                placeholder="Repita o celular com DDD"
                class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] placeholder:text-sm disabled:opacity-50 disabled:cursor-not-allowed"
                ngpInput
              />
            </div>
          </div>
        </div>

        <!-- <div formGroupName="addressInfo" class="mb-6">
          <h3 class="font-semibold text-[#2E2170] mb-3">Dados de endereço</h3>

          <div class="mb-4 relative">
            <input
              type="text"
              formControlName="zipCode"
              mask="00000-000"
              placeholder="CEP"
              class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] placeholder:text-sm"
              ngpInput
            />
            @if (isLoadingZipCode()) {
              <div class="absolute inset-y-0 right-0 flex items-center px-3">
                <ng-template *ngTemplateOutlet="loadingSpinnerInput"></ng-template>
              </div>
            }
          </div>

          <div class="grid grid-cols-3 gap-4 mb-4">
            <div class="col-span-2">
              <input
                type="text"
                formControlName="street"
                placeholder="Logradouro"
                class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] placeholder:text-sm"
                ngpInput
              />
            </div>
            <div>
              <input
                type="text"
                formControlName="number"
                placeholder="Número"
                class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] placeholder:text-sm"
                ngpInput
              />
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div>
              <input
                type="text"
                formControlName="complement"
                placeholder="Complemento"
                class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] placeholder:text-sm"
                ngpInput
              />
            </div>
            <div>
              <input
                type="text"
                formControlName="neighborhood"
                placeholder="Bairro"
                class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] placeholder:text-sm"
                ngpInput
              />
            </div>
          </div>

          <div class="mb-4">
            <input
              type="text"
              formControlName="reference"
              placeholder="Ponto de referência"
              class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] placeholder:text-sm"
              ngpInput
            />
          </div>

          <div class="grid grid-cols-3 gap-4 mb-4">
            <div class="relative">
              <select
                ngpSelect
                formControlName="state"
                class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] focus:outline-none focus:ring-2 focus:ring-brand-primary appearance-none placeholder:text-sm"
              >
                <option value="" disabled selected>UF</option>
                @for (state of states(); track state.id) {
                  <option [value]="state.id">{{ state.uf }}</option>
                }
              </select>
              <div class="absolute inset-y-0 right-0 flex items-center px-3 pointer-events-none">
                <ng-icon name="bootstrapChevronDown" class="!h-4 !w-4 text-[#2E2170]"></ng-icon>
              </div>
            </div>
            <div class="col-span-2 relative">
              <select
                ngpSelect
                formControlName="city"
                class="w-full p-4 bg-[#EBEDF6] rounded-xl text-[#1B0B3B] placeholder-[#91949F] focus:outline-none focus:ring-2 focus:ring-brand-primary appearance-none placeholder:text-sm"
                [disabled]="isLoadingCities() || cities().length === 0"
              >
                <option value="" disabled selected>Cidade</option>
                @for (city of cities(); track city.id) {
                  <option [value]="city.id">{{ city.nome }}</option>
                }
              </select>
              <div class="absolute inset-y-0 right-0 flex items-center px-3 pointer-events-none">
                @if (isLoadingCities()) {
                  <ng-container *ngTemplateOutlet="loadingSpinnerInput"></ng-container>
                } @else {
                  <ng-icon name="bootstrapChevronDown" class="!h-4 !w-4 text-[#2E2170]"></ng-icon>
                }
              </div>
            </div>
          </div>
        </div> -->

        <div class="mb-6">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input
                type="checkbox"
                id="terms"
                formControlName="termsAgreed"
                class="w-5 h-5 border-gray-600 rounded accent-[#8C6BFA] focus:ring-[#8C6BFA]"
                ngpInput
              />
            </div>
            <label for="terms" class="ml-3 text-sm">
              <span class="text-[#2E2170]">Li e concordo com os </span>
              <a href="#" class="text-[#2E2170] underline font-medium">Termos de Uso</a>
              <span class="text-[#2E2170]"> e </span>
              <a href="#" class="text-[#2E2170] underline font-medium">Políticas de privacidade</a>
            </label>
          </div>

          <div class="flex items-start mt-3">
            <div class="flex items-center h-5">
              <input
                type="checkbox"
                id="marketing"
                formControlName="marketingOptIn"
                class="w-5 h-5 border-gray-600 rounded accent-[#8C6BFA] focus:ring-[#8C6BFA]"
                ngpInput
              />
            </div>
            <label for="marketing" class="ml-3 text-sm text-indigo-900">
              Desejo receber promoções e comunicações via e-mails
            </label>
          </div>
        </div>

        <div class="md:flex md:gap-4">
          <button
            class="w-full bg-[#8C6BFA] text-white flex items-center justify-center rounded-xl cursor-pointer py-4 font-medium hover:opacity-80 mb-4 md:mb-0 disabled:cursor-not-allowed"
            ngpButton
            [disabled]="isSubmitting()"
            type="submit"
          >
            @if (isSubmitting()) {
              <app-spinner />
            } @else {
              Salvar alterações
            }
          </button>
        </div>
      </form>
    }
  </div>
</div>
