<div class="mt-16 lg:px-48 px-4">
  <!-- Breadcrumb -->
  <app-breadcrumb
    [breadcrumbs]="[
      { label: 'Home', url: '/' },
      { label: 'Sorteios', url: '/sorteio' },
    ]"
  ></app-breadcrumb>

  <!-- Itens comprados -->
  <div class="bg-white rounded-2xl p-6 space-y-6 shadow-sm mt-6">
    <h2 class="text-xl font-bold text-gray-800">Itens</h2>

    <ng-container *ngFor="let item of items">
      <div class="flex items-center justify-between bg-[#F9F9FC] p-4 rounded-xl shadow-sm gap-4">
        <!-- Imagem e infos -->
        <div class="flex items-center gap-4">
          <img [src]="lotery.imagens[0].img" [alt]="lotery.descricao" class="w-14 h-14 rounded-md object-contain" />

          <div class="flex flex-col justify-center">
            <h3 class="text-sm font-semibold text-[#2E2170] leading-tight">{{ lotery.descricao }}</h3>
            <span class="text-[11px] mt-1 font-medium bg-[#EDE9FE] text-[#4B0FAA] px-2 py-0.5 rounded-md w-fit">
              {{ date }}
            </span>
          </div>
        </div>

        <!-- Controles -->
        <div class="flex items-center gap-2">
          <button
            class="w-9 h-9 rounded-full bg-[#4B0FAA] text-white text-base font-bold flex items-center justify-center"
            (click)="decrease(item)"
          >
            −
          </button>

          <span class="text-lg font-bold text-[#4B0FAA] min-w-[28px] text-center">
            {{ item.quantity }}
          </span>

          <button
            class="w-9 h-9 rounded-full bg-[#4B0FAA] text-white text-base font-bold flex items-center justify-center"
            (click)="increase(item)"
          >
            +
          </button>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Dados do comprador -->
  <form *ngIf="showSaller === 'R'" [formGroup]="buyerForm" (ngSubmit)="createUser()" class="space-y-6">
    <div class="bg-white rounded-2xl p-6 space-y-6 shadow-sm mt-6 mb-4">
      <h2 class="text-xl font-bold text-gray-800">Dados do Comprador</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <input
          type="text"
          formControlName="fullName"
          placeholder="Nome completo*"
          class="bg-white text-sm text-gray-700 px-4 py-3 rounded-lg border border-gray-300 w-full"
        />
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <input
          type="text"
          formControlName="cpf"
          mask="000.000.000-00"
          [dropSpecialCharacters]="false"
          placeholder="CPF*"
          class="bg-white text-sm text-gray-700 px-4 py-3 rounded-lg border border-gray-300 w-full"
        />
        <input
          type="date"
          formControlName="birthDate"
          placeholder="Data de nascimento"
          class="bg-white text-sm text-gray-700 px-4 py-3 rounded-lg border border-gray-300 w-full"
        />
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <input
          type="text"
          formControlName="phone"
          placeholder="Celular com DDD*"
          class="bg-white text-sm text-gray-700 px-4 py-3 rounded-lg border border-gray-300 w-full"
        />
        <input
          type="email"
          formControlName="email"
          placeholder="E-mail"
          class="bg-white text-sm text-gray-700 px-4 py-3 rounded-lg border border-gray-300 w-full"
        />
      </div>
    </div>
  </form>

  <!-- Resumo -->
  <div class="bg-white rounded-2xl p-6 space-y-6 shadow-sm mt-6 mb-4">
    <div class="space-y-2 text-sm">
      <!-- <div class="flex justify-between text-gray-700">
        <span>Subtotal ({{ getTotalItems() }} itens)</span>
        <span class="font-semibold text-gray-800">R$ {{ subtotal | number: '1.2-2' }}</span>
      </div> -->

      <div class="flex justify-between text-lg font-semibold text-gray-800">
        <span>Total</span>
        <span>R$ {{ total | number: '1.2-2' }}</span>
      </div>
      <hr class="my-2 border-gray-200" />
    </div>

    <div *ngIf="!showPix" class="w-full flex justify-end gap-4">
      <button
        *ngIf="showSaller === 'R'"
        class="bg-[#F3F0FF] border border-[#6D28D9] text-[#6D28D9] text-sm font-medium rounded-xl w-[160px] py-3 sm:w-auto sm:py-4 sm:px-6 flex items-center justify-center gap-2"
        (click)="createUser('cash')"
      >
        <ng-icon name="bootstrapCash" class="!w-6 !h-6" />
        Dinheiro
      </button>

      <button
        class="bg-[#F3F0FF] border border-[#6D28D9] text-[#6D28D9] text-sm font-medium rounded-xl w-[160px] py-3 sm:w-auto sm:py-4 sm:px-6 flex items-center justify-center gap-2"
        (click)="createUser('pix')"
      >
        <ng-icon name="bootstrapQrCode" class="!w-6 !h-6" />
        PIX
      </button>
    </div>

    <div *ngIf="showPix" class="bg-white rounded-2xl shadow-md p-4 space-y-4 text-sm text-gray-700">
      <!-- Título -->
      <h3 class="text-lg font-semibold text-purple-900">Seu código de pagamento por pix está pronto</h3>
      <p class="text-gray-500">Escaneie o QR Code para pagar com Pix</p>

      <!-- Timer -->
      <div class="flex items-center gap-2 text-xs text-purple-700 font-bold">
        <span class="bg-purple-200 px-2 py-1 rounded-md">{{ minutes }}</span>
        <span>:</span>
        <span class="bg-purple-200 px-2 py-1 rounded-md">{{ seconds < 10 ? '0' + seconds : seconds }}</span>
        <span class="ml-1 text-gray-700 font-normal">minutos para pagar</span>
      </div>

      <div class="w-full h-3 bg-gray-200 rounded-full overflow-hidden">
        <div
          class="h-full transition-all duration-500"
          [ngStyle]="{ width: progress + '%', backgroundColor: getProgressColor() }"
        ></div>
      </div>

      <!-- QR Code -->
      <div class="flex justify-center">
        <qrcode
          *ngIf="pixCode"
          [qrdata]="pixCode"
          [width]="200"
          [errorCorrectionLevel]="'M'"
          class="rounded-xl shadow-md p-2 bg-white"
        ></qrcode>
      </div>

      <!-- Código Pix com botão copiar -->
      <div>
        <p class="text-sm font-medium text-gray-800 mb-1">Código Pix:</p>
        <div class="relative">
          <textarea
            readonly
            class="w-full h-24 p-3 border border-gray-300 rounded-lg bg-gray-50 text-xs font-mono resize-none"
            >{{ pixCode }}</textarea
          >
          <button
            class="absolute top-2 right-2 px-3 py-1 text-xs bg-[#4B0FAA] hover:bg-purple-600 text-white rounded-md transition"
            (click)="copyPixCode()"
          >
            Copiar
          </button>
        </div>
      </div>

      <!-- Botão principal -->
      <button
        class="w-full bg-[#4B0FAA] hover:bg-purple-600 transition text-white text-sm py-2 rounded-xl font-medium"
        (click)="copyPixCode()"
      >
        Copiar código Pix
      </button>
    </div>
  </div>
</div>
