<div class="mt-16 lg:px-48 px-4">
  <!-- Breadcrumb -->
  <app-breadcrumb
    [breadcrumbs]="[
      { label: 'Home', url: '/' },
      { label: 'Sorteios', url: '/sorteio' },
    ]"
  ></app-breadcrumb>

  <!-- Itens comprados -->
  <div class="bg-white rounded-2xl p-6 space-y-6 shadow-sm mt-6">
    <h2 class="text-xl font-bold text-gray-800">Itens</h2>

    <ng-container *ngFor="let item of items">
      <div class="flex flex-col md:flex-row justify-between items-start md:items-center rounded-lg gap-3">
        <!-- Bloco da imagem + infos -->
        <div class="flex items-start gap-3 w-full">
          <img [src]="lotery.imagens[0].img" [alt]="lotery.descricao" class="w-16 h-16 object-contain shrink-0" />
          <div class="flex flex-col w-full">
            <div>
              <h3 class="font-semibold text-base text-gray-800">{{ lotery.descricao }}</h3>
              <p class="text-xs text-gray-500">{{ date }}</p>
            </div>

            <!-- Botões no mobile -->
            <!-- Botões no mobile alinhados à direita -->
            <div class="md:hidden flex justify-end w-full mt-2">
              <div class="flex items-center gap-3">
                <button
                  class="w-10 h-10 rounded-full bg-[#4B0FAA] text-white text-base font-bold flex items-center justify-center"
                  (click)="decrease(item)"
                >
                  −
                </button>

                <div class="flex items-center gap-1 text-base font-semibold text-[#4B0FAA]">
                  <span class="text-xl font-bold">{{ item.quantity }}</span>
                  <span class="text-[#2E2170]">
                    {{ item.quantity === 1 ? 'Título' : 'Títulos' }}
                  </span>
                </div>

                <button
                  class="w-10 h-10 rounded-full bg-[#4B0FAA] text-white text-base font-bold flex items-center justify-center"
                  (click)="increase(item)"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Botões no desktop -->
        <div class="hidden md:flex items-center gap-3">
          <button
            class="w-10 h-10 rounded-full bg-[#4B0FAA] text-white text-base font-bold flex items-center justify-center"
            (click)="decrease(item)"
          >
            −
          </button>

          <div class="flex items-center gap-1 text-base font-semibold text-[#4B0FAA]">
            <span class="text-xl font-bold">{{ item.quantity }}</span>
            <span class="text-[#2E2170]">
              {{ item.quantity === 1 ? 'Título' : 'Títulos' }}
            </span>
          </div>

          <button
            class="w-10 h-10 rounded-full bg-[#4B0FAA] text-white text-base font-bold flex items-center justify-center"
            (click)="increase(item)"
          >
            +
          </button>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Resumo -->
  <div class="bg-white rounded-2xl p-6 space-y-6 shadow-sm mt-6 mb-4">
    <div class="space-y-2 text-sm">
      <!-- <div class="flex justify-between text-gray-700">
        <span>Subtotal ({{ getTotalItems() }} itens)</span>
        <span class="font-semibold text-gray-800">R$ {{ subtotal | number: '1.2-2' }}</span>
      </div> -->

      <div class="flex justify-between text-lg font-semibold text-gray-800">
        <span>Total</span>
        <span>R$ {{ total | number: '1.2-2' }}</span>
      </div>
      <hr class="my-2 border-gray-200" />
    </div>

    <div *ngIf="!showPix" class="w-full flex justify-end">
      <button
        class="bg-[#4B0FAA] hover:bg-purple-600 transition text-white text-sm font-medium rounded-xl w-[160px] py-3 sm:w-auto sm:py-4 sm:px-6"
        (click)="initPayment()"
      >
        Pagar com Pix
      </button>
    </div>

    <div *ngIf="showPix" class="bg-white rounded-2xl shadow-md p-4 space-y-4 text-sm text-gray-700">
      <!-- Título -->
      <h3 class="text-lg font-semibold text-purple-900">Seu código de pagamento por pix está pronto</h3>
      <p class="text-gray-500">Escaneie o QR Code para pagar com Pix</p>

      <!-- Timer -->
      <div class="flex items-center gap-2 text-xs text-purple-700 font-bold">
        <span class="bg-purple-200 px-2 py-1 rounded-md">{{ minutes }}</span>
        <span>:</span>
        <span class="bg-purple-200 px-2 py-1 rounded-md">{{ seconds < 10 ? '0' + seconds : seconds }}</span>
        <span class="ml-1 text-gray-700 font-normal">minutos para pagar</span>
      </div>

      <div class="w-full h-3 bg-gray-200 rounded-full overflow-hidden">
        <div
          class="h-full transition-all duration-500"
          [ngStyle]="{ width: progress + '%', backgroundColor: getProgressColor() }"
        ></div>
      </div>

      <!-- QR Code -->
      <div class="flex justify-center">
        <qrcode
          *ngIf="pixCode"
          [qrdata]="pixCode"
          [width]="200"
          [errorCorrectionLevel]="'M'"
          class="rounded-xl shadow-md p-2 bg-white"
        ></qrcode>
      </div>

      <!-- Código Pix com botão copiar -->
      <div>
        <p class="text-sm font-medium text-gray-800 mb-1">Código Pix:</p>
        <div class="relative">
          <textarea
            readonly
            class="w-full h-24 p-3 border border-gray-300 rounded-lg bg-gray-50 text-xs font-mono resize-none"
            >{{ pixCode }}</textarea
          >
          <button
            class="absolute top-2 right-2 px-3 py-1 text-xs bg-[#4B0FAA] hover:bg-purple-600 text-white rounded-md transition"
            (click)="copyPixCode()"
          >
            Copiar
          </button>
        </div>
      </div>

      <!-- Botão principal -->
      <button
        class="w-full bg-[#4B0FAA] hover:bg-purple-600 transition text-white text-sm py-2 rounded-xl font-medium"
        (click)="startPix()"
      >
        Copiar código Pix
      </button>
    </div>
  </div>
</div>
